h2 {
    text-align: center;
}
label {
    font-weight: bold;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.form-actions button[type="submit"] {
    width: 30%;
}
